<!DOCTYPE html>
<html>
<head>
	<style>
	body{
			
		background-color: #eff1f4
	}
	</style>
</head>

<body>



<div class="container">
	<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="signup_msg">
				
			</div>
			<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div> 
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading" style='background-color:#2D3E50; color:white;'>User SignUp</div>
				<div class="panel-body">
				
				<form method="post">
					<div class="row">
					
						<div class="col-md-6">
							<label for="f_name">First Name</label>
							<input type="text" class = "form-control" id="f_name" >
						</div> 
						<div class="col-md-6">
							<label for="l_name">Last Name</label>
							<input type="text" class = "form-control" id="l_name" >
						</div>
						
					</div>
					<br/>
					<div class="row">
					
						<div class="col-md-6">
							<label for="password">Password</label>
							<input type="password" class = "form-control" id="password" >
						</div>
					
						<div class="col-md-6">
							<label for="repassword">Re-enter Password</label>
							<input type="password" class = "form-control" id="repassword" >
						</div> 
						
					</div>
					<br/>
					<div class="row">
					
						<div class="col-md-12">
							<label for="email">E-mail</label>
							<input type="text" class = "form-control" id="email" >
						</div>
					
					</div>
					<br/>
					<div class="row">
					
						<div class="col-md-12">
							<label for="mobile">Mobile</label>
							<input type="text" class = "form-control" id="mobile" >
						</div>
					
					</div>
					<br/>
					<div class="row">
					
						<div class="col-md-12">
							<label for="adrs1">Address Line 1</label>
							<input type="text" class = "form-control" id="adrs1" >
						</div>
					
					</div>
					<br/>
					<div class="row">
					
						<div class="col-md-12">
							<label for="adrs2">Address Line 2</label>
							<input type="text" class = "form-control" id="adrs2" >
						</div>
					
					</div>
					<br/>
					<div class="row">
						<div class="col-md-10"></div> 
						<div class="col-md-2">
							<button id = "signup_btn" class="btn btn-success">Sign Up</button>
						</div>
					
					</div>
				</form>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</body>
</html>





















