
	 <div id ="main" class="row">
		
		<div class="col-md-1">
			
			<ul id="get_category" class= "nav nav-pills nav-stacked">
			</ul>
			
			<ul id="get_brand" class= "nav nav-pills nav-stacked">
			</ul> 
			
		</div>
		 <div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading" style='background-color:#2D3E50; color:white;'>Products</div>
		      	<div class="panel-body">
					<div id = "get_product"> 
						
					</div> 
					<ul *ngFor="let product of products ">
		      		<div class="col-md-4">
		      			<div class="panel panel-info">
		      				<div class="panel-heading">{{product.name}}</div>
		      				<div class="panel-body">
								  <img style="width:200px;height:200px;" src="{{product.imagepath}"/>
		      				</div>
		      				<div class="panel-heading"> 
		      				{{product.price}}
		      				<button class="button btn-primary" style="float: right;" (click)="addtocart(product.name)">Add to cart</button>
		      				</div>
		      			</div>
		      		</div>
					</ul>
		      	</div>
			</div>
		</div>
	</div>

<app-cart [carts]="item"
*ngFor="let item of cart">
</app-cart>
